CONFIG_ARCH_SONY_MURRAY=y
CONFIG_IFPM_SM5038=y
CONFIG_NFC_SN1X0_DEVICES=y
CONFIG_SM5038_SUPPORT_SBU=y
CONFIG_SM5038_WATER_DETECTION_ENABLE=y
CONFIG_MACH_SONY_PDX225=y
# CONFIG_MACH_SONY_PDX225_J is not set
CONFIG_NXP_P73v1_DEVICES=y
#
# SAILFISH mer-kernel-check CHANGES BELOW
#
# First the errors...
#
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_PPP_FILTER=y
CONFIG_SYSVIPC=y
CONFIG_NF_LOG_IPV6=y
CONFIG_L2TP_IP=y
CONFIG_NET_L3_MASTER_DEV=y
CONFIG_DEVTMPFS=y
CONFIG_INET_AH=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_NF_LOG_IPV4=y
CONFIG_PPP_MULTILINK=y
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_INET_IPCOMP=y
CONFIG_QUOTA_NETLINK_INTERFACE=y
CONFIG_VT=y
CONFIG_INET6_AH=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_PPPOE=y
CONFIG_L2TP_V3=y
CONFIG_STATIC_USERMODEHELPER=n
CONFIG_DUMMY=n
CONFIG_FHANDLE=y
#
# Then the warnings...
#
CONFIG_IP6_NF_MATCH_FRAG=y
CONFIG_UEVENT_HELPER_PATH=""
CONFIG_ECRYPT_FS=y
CONFIG_NFS_COMMON=y
CONFIG_LBDAF=y
#CONFIG_SECURITY_SELINUX_BOOTPARAM_VALUE is not set
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
CONFIG_NETFILTER_XT_MATCH_RECENT=y
CONFIG_UDF_FS=y
CONFIG_SECURITY_YAMA=y
CONFIG_NETFILTER_XT_TARGET_LOG=y
CONFIG_NFS_V3_ACL=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_CUSE=y
CONFIG_NFS_ACL_SUPPORT=y
CONFIG_IP_PNP=y
CONFIG_BTRFS_FS=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_IP_SCTP=y
CONFIG_NFS_USE_KERNEL_DNS=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_TMPFS_XATTR=y
CONFIG_NETFILTER_XT_MATCH_SCTP=y
CONFIG_PID_NS=y
CONFIG_NFS_V4=y
CONFIG_AUTOFS4_FS=y
CONFIG_CGROUP_PERF=y
CONFIG_IP_NF_MATCH_AH=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_LOCKD_V4=y
CONFIG_NETFILTER_NETLINK_ACCT=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_IP6_NF_MATCH_AH=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_FANOTIFY=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_NET_DROP_MONITOR=y
CONFIG_CGROUP_DEVICE=y
CONFIG_SUNRPC=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_SUNRPC_GSS=y
CONFIG_ISO9660_FS=y
CONFIG_NFS_V4_1=y
CONFIG_BT_HCIVHCI=y
CONFIG_LOCKD=y
CONFIG_IPC_NS=y
CONFIG_BLK_DEV_NBD=y
#CONFIG_SECURITY_SELINUX_BOOTPARAM is not set
CONFIG_NETFILTER_XT_MATCH_DCCP=y
CONFIG_CIFS=y
CONFIG_ANDROID_LOW_MEMORY_KILLER=y
CONFIG_IP6_NF_MATCH_MH=y
CONFIG_BT_BNEP=y
