CONFIG_ARCH_SONY_ZAMBEZI=y
CONFIG_NFC_SN2X0_DEVICES=y
CONFIG_MACH_SONY_PDX235=y
# CONFIG_MACH_SONY_PDX235_J is not set
CONFIG_NXP_P73v2_DEVICES=y

# SAILFISH CHANGES FROM MIAMI

CONFIG_QUOTA_NETLINK_INTERFACE=y
CONFIG_PPP_ASYNC=y
CONFIG_NFS_ACL_SUPPORT=y
CONFIG_BTRFS_FS=y
CONFIG_NETFILTER_XT_MATCH_SCTP=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_NFS_V3_ACL=y
CONFIG_IP6_NF_MATCH_FRAG=y
CONFIG_ANDROID_LOW_MEMORY_KILLER=y
CONFIG_IPC_NS=y
CONFIG_FANOTIFY=y
CONFIG_DUMMY=n
CONFIG_BT_HCIVHCI=y
CONFIG_DEVTMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_NFS_V4_1=y
CONFIG_INET6_AH=y
CONFIG_BLK_DEV_NBD=y
CONFIG_IP_NF_MATCH_AH=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_NFS_V3=y
CONFIG_NFS_V4=y
CONFIG_SUNRPC_GSS=y
CONFIG_INET_AH=y
CONFIG_FHANDLE=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_STATIC_USERMODEHELPER=n
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_VT=y
CONFIG_LOCKD=y
CONFIG_SYSVIPC=y
CONFIG_PID_NS=y
CONFIG_NFS_FS=y
CONFIG_UDF_FS=y
CONFIG_ECRYPT_FS=y
CONFIG_ISO9660_FS=y
CONFIG_NETFILTER_XT_TARGET_LOG=y
CONFIG_NETFILTER_NETLINK_ACCT=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_NFS_USE_KERNEL_DNS=y
CONFIG_IP6_NF_MATCH_AH=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CIFS=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_SUNRPC=y
CONFIG_LBDAF=y
CONFIG_BT_BNEP=y
CONFIG_NETFILTER_XT_MATCH_DCCP=y
CONFIG_CGROUP_DEVICE=y
CONFIG_NETFILTER_XT_MATCH_RECENT=y
CONFIG_SECURITY_YAMA=y
CONFIG_NFS_ACL_SUPPORT=y
CONFIG_IP6_NF_MATCH_MH=y
CONFIG_CUSE=y
CONFIG_PPPOE=y
CONFIG_NFS_COMMON=y
CONFIG_CGROUP_PERF=y
CONFIG_AUTOFS4_FS=y
CONFIG_L2TP_IP=y
CONFIG_RTC_DRV_CMOS=y

CONFIG_USB_F_RNDIS=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_F_GSI=n
CONFIG_USB_CONFIGFS_F_GSI=n
CONFIG_USB_CONFIGFS_F_QCGSI=n
CONFIG_USB_CONFIGFS_QCRNDIS=n
CONFIG_USB_CONFIGFS_RMNET_BAM=n

CONFIG_PM_AUTOSLEEP=y

# More fixes...

CONFIG_IP_SCTP=y
CONFIG_L2TP_IP=y
CONFIG_NET_L3_MASTER_DEV=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_LBDAF=y
CONFIG_STATIC_USERMODEHELPER=n
CONFIG_NET=y
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=y


# potentially breaking?

CONFIG_INET_IPCOMP=y
CONFIG_PPP_MULTILINK=y
CONFIG_L2TP_V3=y
CONFIG_L2TP_IP=y
CONFIG_PPP_FILTER=y

# last lot of warnings

#CONFIG_ANDROID_LOW_MEMORY_KILLER=y
#CONFIG_RTC_DRV_CMOS=y
#CONFIG_NET_DROP_MONITOR=y
#CONFIG_IP_PNP=y
#CONFIG_LBDAF=y

# I want Waydroid

CONFIG_SW_SYNC_USER=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_CGROUP_NET_CLASSID=y
CONFIG_VETH=y
CONFIG_BRIDGE=y
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder,puddlejumper,hwpuddlejumper,vndpuddlejumper"
CONFIG_SW_SYNC_USER=y

# Missing bits from /usr/bin/appsupport-kernel-config-check

CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_BRIDGE_NF_EBTABLES=m
CONFIG_BRIDGE_EBT_T_NAT=m
CONFIG_BRIDGE_NF_EBTABLES=m
CONFIG_BRIDGE_EBT_T_NAT=m
#CONFIG_INET6_XFRM_MODE_TRANSPORT=y
#CONFIG_INET6_XFRM_MODE_TUNNEL=y
#CONFIG_INET_XFRM_MODE_TRANSPORT=y
#CONFIG_INET_XFRM_MODE_TUNNEL=y
#CONFIG_NF_CONNTRACK_IPV4=y
#CONFIG_NF_CONNTRACK_IPV6=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=m
CONFIG_NETFILTER=y
CONFIG_IPV6=y
CONFIG_XFRM=y
CONFIG_NF_CONNTRACK=y
CONFIG_XFRM_ALGO=y
CONFIG_INET_AH=y
CONFIG_INET_ESP=y
CONFIG_INET6_AH=y
CONFIG_INET6_ESP=y

CONFIG_DEBUG_FS=y
